/* *** Primary colour: */

/*    base    = #2F59A8 */
/*    tint  1 = #7998D2 */
/*    tint  2 = #4B72B8 */
/*    shade 1 = #0A2D6C */
/*    shade 2 = #133E8E */
/*    shade 2 = #0A214D */

/* *** Complement colour: */

/*    base    = #FD8E33 */
/*    tint  1 = #FFBD87 */
/*    tint  2 = #FFA458 */
/*    shade 1 = #A34A00 */
/*    shade 2 = #D66508 */
/*    shade 3 = #4D2503 */


.banner {
	color: white;
	background: #2F59A8;
	border-color: #FD8E33;
}

nav.toggleable {
	color: #A34A00;
	/* border-color: #133E8E; */
	border: none;
	height: 42px;
	border-bottom: #FD8E33 4px solid;

}

nav.toggleable #nav_options {
	background: white;
}

li.small_button a:hover {
	background: #FFA458;
}

#hamburger a {
	background: #2F59A8;
}

#hamburger a.active_hams {
	color: #2F59A8;
	background: #FD8E33;
}

#nav_options {
	border-color: #FD8E33;
}

#nav_options ul + div {
	border-color: #A34A00;
}

nav.toggleable #nav_options li.active_section {
	background: #FD8E33;
	color: white;
}

nav.toggleable li.large_button:hover {
	background: #FFA458;
}

#chat a {
	border-color: #2F59A8;
	background: #2F59A8;
	color: white;
}

#chat a.active_chat_button {
	border-color: #FD8E33;
	background: #FD8E33;
}

#chat_window {
	border-color: #FD8E33;
}

#chat_header {
	color: #4D2503;
	background: #FFBD87;
	border-color: #FD8E33;
}

#container {
	color: #0A214D;
	background: white;
}

.peer_message {
	border-color: #D66508;
	color: #4D2503;
}

.peer_message:before {
	color: #D66508;
}

.self_message {
	border-color: #133E8E;
	color: #0A214D;
}

.self_message:before {
	color: #133E8E;
}

body {
	background: #7998D2;
}

.comment.self_comment {
	border-color: #133E8E;
	color: #0A214D;
}

.comment.other_comment {
	border-color: #D66508;
	color: #4D2503;
}

.comment.self_comment:before {
	color: #133E8E;
}

.comment.other_comment:before {
	color: #D66508;
}

.reply_button {
	background: #2F59A8;
	color: white;
}

.comment.submit_button {
	background: #FD8E33;
}

#container .reply_button a {
	text-decoration: none;
	font-weight: bold;
}
