* {
	margin: 0;
	padding: 0;
}

fieldset {
	border: none;
}

ol, ul {
	list-style: none;
}

a {
	outline: none;
	text-decoration: none;
}

nav.toggleable {
	position:fixed;
	right: 0px;
	top: 0px;
	width: 160px;
	height: 40px;
	background: #FFF;
	border-style: solid;
	z-index: 9001;

	line-height: 40px;
	text-align: center;
}


nav.toggleable #nav_options {
	display: none;
	z-index: 9001;
	width: 220px;
	float: right;
	background: white;
	border-style: solid;
	
}

#nav_options ul {
	/* margin: 0 0 16px 0; */
}

#nav_options ul:last-child {
	margin: 0 0 12px 0;
}

#nav_options ul + div {
	margin: 8px 16px 8px 16px;
	border: 1px solid #777;
}

#nav_options ul li.small_button a{
	margin: 0 20px 0 20px;
}

#nav_options ul li.large_button {
	width: 220px;
}

nav .nav_static a {
	display: block;
	float: right;
	height: 40px;
}

#chat a {
	width: 120px;
}

#hamburger a {
	background: #46C;
	width: 40px;
}

.banner {
	position: fixed;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	background: white;
	border-style: solid;
}

#container {
	width: 80%;
	max-width: 1200px;
	margin: 64px auto 0 auto;
}

#container .single_column {
	width: 100%;	
}

#container .single_column h2 {
	margin: 0 0 6px 0;
}

#container .single_column p {
	margin: 0 0 14px 0;
}

#container .single_column fieldset {
	margin: 0 0 16px 40px;
}

.inset {
	float: right;
	margin: 0 16px 16px 16px;
	text-align: center;
}

.left_inset {
	margin: 16px;
	float: left;
}

img.inset {
	max-width: 300px;
	height: auto;
}

div.form_group {
	margin: 12px 10% 20px 0;
}

div.form_group select {
	float: right;
	margin: 0 60px 0 0;
}

div.form_group select option {
	width: 240px;
}

.hidden_section {
	visibility: hidden;
	display: none;
	z-index: -9001;
}	

div.thread {
	padding: 0 80px 0 0;
	margin: 0 0 30px 0;
}

.comment {
	border-style: solid;
	float: right;
}

.comment.top_level {
}

.reply_container {
	width: 600px;
	float: right;
}

.comment.reply {
	width: 600px;
}

.comment.reply_button {
	/* position: absolute; */
	/* bottom: 0px; */
	/* right: 10px; */
	/* height:20px; */
}

ul.bulleted_list {
	margin: 0 0 0 24px;
	list-style-type: square;
}
