* {
	margin: 0;
	padding: 0;
}

fieldset {
	border: none;
}

ol, ul {
	list-style: none;
}

a {
	outline: none;
	text-decoration: none;
}

nav.toggleable {
	position:fixed;
	left: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
	background: #FFF;
	border-style: solid;
	z-index: 9001;
	line-height: 40px;
	text-align: center;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	user-select: none; 			/* why cant these dicks just play nice? */
}


nav.toggleable #nav_options {
	display: none;
	z-index: 9001;
	position: fixed;
	top: 46px;
	left: 0;
	width: 220px;
	float: right;
	background: white;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-right-style: solid;
	border-right-width: 4px;
}

#nav_options a {
	display: block;
	height: 100%;
	cursor:pointer;
}

#nav_options li.small_button a {
	display: inline-block;
	width: 80px;
}

#nav_options ul {
	/* margin: 0 0 16px 0; */
}

#nav_options ul:last-child {
	margin: 0 0 12px 0}

#nav_options ul + div {
	margin: 8px 16px 8px 16px;
	border: 1px solid #777;
}

nav.toggleable li.active_section {
	background: #c0c0c0;
	font-weight: bold;
}

#nav_options ul li.small_button a{
	margin: 0 10px 0 10px;
}

#nav_options ul li.large_button {
	width: 220px;
}

nav .nav_static a {
	display: block;
	float: right;
	height: 42px;
}

#chat a {
	display: block;
	position: fixed;
	bottom: 0;
	right: 0;
	height: 42px;
	width: 120px;
	background: white;
	border-style: solid;
	border-width: 4px;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	user-select: none; 			/* why cant these dicks just play nice? */
	cursor:pointer;
}

#hamburger a {
	color: white;
	background: blue;
	width: 40px;
	cursor:pointer;
}

#hamburger a.active_hams {
	background: orange;
}

.banner {
	position: fixed;
	top: 0;
	left: 0;
	height: 42px;
	width: 100%;
	padding: 0 0 0 56px;
	background: white;
	line-height: 40px;
	border-bottom: 4px solid;
}

#container {
	width: 80%;
	min-height: 80vh;
	max-width: 1200px;
	margin: 64px auto 5vh auto;
	padding: 16px
}

#container .single_column {
	width: 100%;	
}

#container .single_column h2 {
	margin: 0 0 6px 0;
}

#container .single_column p {
	margin: 0 0 14px 0;
}

#container .single_column fieldset {
	margin: 0 0 16px 40px;
}

.inset {
	float: right;
	margin: 0 16px 16px 16px;
	text-align: center;
	border-bottom: 1px solid;
}

.left_inset {
	margin: 16px;
	float: left;
}

.inset img {
	max-width: 300px;
	height: auto;
	clear: both;
}

.inset em {
	display: block;
	margin: 0 0 4px 0;
}

div.form_group {
	margin: 12px 10% 20px 0;
}

div.form_group select {
	float: right;
	margin: 0 60px 0 0;
}

div.form_group select option {
	width: 240px;
}

textarea {
	max-width: 720px;
	width: 100%;
}

.hidden_section {
	visibility: hidden;
	display: none;
	z-index: -9001;
}	

div.thread {
	padding: 0 60px 0 100px;
	margin: 40px 0 30px 0;
	float: right;
}

.comment {
	margin: 4px 0 4px 0;
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-bottom-width: 4px;
	float: right;
	clear: both;
}

.comment.top_level {
}

.thread_spacer {
	clear:both;
}

.reply_container {
	width: 600px;
	float: right;
}

.comment.reply {
	width: 600px;
}

.comment.reply_button {
	margin: 4px 0 20px 0;
}

.reply_box {
	float: right;
	clear: both;
}

ul.bulleted_list {
	margin: 0 0 0 24px;
	list-style-type: square;
}

.feedback_text {
	font-size: small;
	font-style: italic;
}

#chat_window {
	position: fixed;
	display: none;
	bottom: 50px;
	right: 0;
	height: 350px;
	width: 280px;
	background: white;
	border-style: solid;
	border-width: 4px;
	font-family: sans-serif;
	font-size: small;
}

#chat_header {
	height: 28px;
	line-height: 28px;
	padding-left: 12px;
	background: blue;
	font-weight: bold;
	border-bottom-style: solid;
	border-bottom-width: 4px;
}

#chat_footer {
	position: absolute;
	bottom: 0;
	display: flex;
	background: white;
}

#chat_footer #chat_input {
	width: 221px;
}

#chat_footer #chat_send {
	width: 17%;
}

#chat_scroll_pane {
	height: 293px;
	margin: 0 0 0 12px;
	padding: 0 12px 0 0;
	overflow-y: scroll;
}

.chat_message {
	margin: 12px auto auto auto;
	padding: 6px;
	border-style: solid;
	border-width: 2px;
	border-bottom-width: 4px;
}

.peer_message {
	margin-right: 36px;
}

.peer_message:before {
	content: "name";
	font-weight: bold;
}

.self_message {
	margin-left: 36px;
}

.self_message:before {
	content: "me";
	font-weight: bold;
}
