* {
	margin: 0;
	padding: 0;
}

fieldset {
	border: none;
}

ol, ul {
	list-style: none;
}

a {
	outline: none;
	text-decoration: none;
}

nav.toggleable {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 160px;
	border-style: solid;
}

nav.toggleable #nav_options {
	/* */
	visibility: hidden;
	display: none;
	z-index: -9001;
}

nav .nav_static a {
	display: block;
	float: right;
	height: 40px;
}

#chat a {
	width: 120px;
}

#hamburger a {
	background: #46C;
	width: 40px;
}

#container {
	width: 80%;
	margin: 4% auto 0 auto;
}

#container .single_column {
	width: 100%;	
}

#container .single_column h2 {
	margin: 0 0 6px 0;
}

#container .single_column p {
	margin: 0 0 14px 0;
}

#container .single_column fieldset {
	margin: 0 0 16px 40px;
}

.inset {
	float: right;
}

img.inset {
	max-width: 300px;
	height: auto;
}

div.form_group {
	margin: 12px 10% 20px 0;
}

div.form_group select {
	float: right;
	margin: 0 60px 0 0;
}

div.form_group select option {
	width: 240px;
}

#feedback {
	visibility: hidden;
	display: none;
	z-index: -9001;
}	

div.thread {
	padding: 0 80px 0 0;
	margin: 0 0 30px 0;
}

.comment {
	border-style: solid;
	float: right;
}

.comment.top_level {
}

.reply_container {
	width: 600px;
	float: right;
}

.comment.reply {
	width: 600px;
}

.comment.reply_button {
	/* position: absolute; */
	/* bottom: 0px; */
	/* right: 10px; */
	/* height:20px; */
}
